:root{
    --light-grey: #e8ebed;
    --grey: #e8eaeb;
}

.container{
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 100%;
}

.topic{
    background-color: var(--grey); 
    margin: 1%;
}

.white-container{
    background: white;
}

.bio{
    padding: 1%;
}

.bio b.title{
    font-size: large;
}

.bio p.bio-content{
    margin-top: 4px; margin-bottom: 2px;
}

div.center{
    margin: auto;
    width: 50%;
    padding: 10px;
}

div.gray-container{
    background: var(--light-grey);
}

.content-center{
    text-align: center;
}

.grid-display{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1em;
}

.col-md-2{
    grid-column: span 2;
}

.box{
    border-bottom: 1px solid; 
    border-right: 1px solid; 
    border-color: rgba(171, 171, 171, 0.555);
    height: 15em;
}

.box-content-center{
    text-align: center;
    padding: 30%;
}