<html>
    <head>
        <!-- Title -->
        <title>Portfolio</title>
        <link rel="stylesheet" href="../css/style.css">
        <!-- Insert CSS/JS -->
    </head>
    <body>
        <div class="container">
            <div class="gray-container">
                <div class="center content-center">
                    <img src="../asset/token_1(4).png"/>
                    <h2>TEVIN DEAN RAMADHAN</h2>
                    <p>Web Developer | Tech Enthusiast</p>
                </div>
                <div class="white-container" style="padding-top: 0.2px; padding-bottom: 0.2px;">
                    <div class="topic">
                        <div class="bio">
                            <b class="title">About Me</b>
                            <p class="bio-content">[write your bio here!]</p>
                        </div>
                    </div>
                    <div class="topic">
                        <div class="bio">
                            <b class="title">My Work</b>
                            <div class="grid-display">
                                <div class="box col-md-2">
                                    <div class="box-content-center">
                                        <p>project 1</p>
                                    </div>
                                </div>
                                <div class="box col-md-2">
                                    <div class="box-content-center">
                                        <p>project 2</p>
                                    </div>
                                </div>
                                <div class="box col-md-2">
                                    <div class="box-content-center">
                                        <p>project 3</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
                <div class="content-center" style="padding: 10px;">
                    <p><b>contact me</b> at your email</p>
                </div>
            </div>
        </div>
    </body>
</html>