<html>
    <head>
        <!-- Title -->
        <title>Portfolio</title>
        <link rel="stylesheet" href="../css/style.css">
        <!-- Insert CSS/JS -->
    </head>
    <body>
        <div class="container">
            <div class="gray-container">
                <div class="center content-center">
                    <img src="../asset/token_1(4).png"/>
                    <h2>TEVIN DEAN RAMADHAN</h2>
                    <p>Web Developer | Tech Enthusiast</p>
                </div>
            </div>
            <div class="topic">
                <div>
                    <b>About me:</b>
                    <p>LOREM IPSUM</p>
                </div>
            </div>    
        </div>
    </body>
</html>